<div class="container">
  <div class="row">
<h2 style="text-align:center">Lightbox</h2>
<div class="lightbox">
<div class="lightbox row">
  <div 
  class="lightbox column col-lg-3"
  *ngFor="let imgSrc of Images; let imgIndex = index"   
  > 
  <img [src]="imgSrc" style="width:100%;" (click)="ShowModal(true)" (click)="CurrentSlide(imgIndex)" class="hover-shadow cursor galleryImg">
 </div>
 

<div id="myModal" class="modal" [class.showModal]="DisplayModal" [class.hideModal]="!DisplayModal">
  <span class="close cursor" (click)="ShowModal(false)">&times;</span>
  
  <div class="modal-content" style="text-align:center">
     
      <a class="prev inline" (click)="PrevSlide()">&#10094;</a>
      <p class="numbertext inline"> {{CurrentImageNumber}} / {{ImagesCount}}</p>
      <a class="next inline" (click)="NextSlide()">&#10095;</a>
     
    <div class="mySlides" >     
      <img [src]="CurrentImageSrc" style="width:100%">
    </div> 
  </div> 
</div>