<div class="container">
  <div class="row">

<ul class="pagination" [class.hide]="DisplayModal" >
    <li  *ngFor="let empty of LastPage | EmptyArray; let imgPage = index" [ngClass]="{active: imgPage+1 === CurrentPage}" 
     (click)="CurrentPage= imgPage+1; ChangePage();" ><a>{{imgPage+1}}</a></li>   
  </ul>

<div class="lightbox">
<div class="lightbox row">
  <div 
  class="lightbox column"
  *ngFor="let imgSrc of Images; let imgIndex = index" > 
  <img [src]="imgSrc" style="width:100%;" (click)="ShowModal(true)" (click)="CurrentSlide(imgIndex)" class="hover-shadow cursor galleryImg">
 </div>

<div id="myModal" class="modal" [class.show]="DisplayModal" [class.hide]="!DisplayModal">
  <span class="close cursor" (click)="ShowModal(false)">&times;</span>
  
  <div class="modal-content" style="text-align:center">
     
      <a class="prev inline" (click)="PrevSlide()">&#10094;</a>
      <p class="numbertext inline"> {{CurrentImageNumber}} / {{ImagesCount}}</p>
      <a class="next inline" (click)="NextSlide()">&#10095;</a>
     
    <div class="mySlides" >     
      <img [src]="CurrentImageSrc" style="width:100%">
    </div> 
  </div> 
</div>